.cabecalho {
    background-color: #0096ff;
    
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
    border: hidden 2px;
    border-radius: 5px;
    text-align: center;
}

nav a {
    font-weight: bold;
}

#container * {
    padding: 20px;
}

#conteudo {
    line-height: 1.5;
}

a img {
    max-width: 100%;
    width: 30px;
}

.contact{
    border-radius: 5px;
    border: solid 2px grey;
    margin: 15px;
    background-color: aliceblue;
}